# dependencias
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# producción
/build

# misceláneo
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# variables de entorno — AQUÍ VIVE TU GITHUB_TOKEN, nunca debe subirse
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts